<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="nine columns">
        <h3>Admin Area</h3>
        <p>Write blog posts n' stuff</p>
      </div>
      <div class="three columns" style="text-align:right">
        <div style="margin-top:22px;">
          <%= link_to "New Post", new_admin_post_path,
            class:"nice medium blue button" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="twelve columns">
      
    </div>
  </div>
</div>