<dl class="nice vertical tabs">
  <dd>
    <%= active_link_to "Posts", admin_posts_path, 
      active:[['admin/posts'],['index']] %>
  </dd>
  <dd><a href="#vertical2">Stats</a></dd>
  <dd><a href="#vertical3">Tags</a></dd>
</dl>