<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Archive</h3>
        <p>A listing of what's been said.</p>
      </div>
    </div>
  </div>
</div>

<div class="archive container">
  <% @posts.group_by(&:year).each do |year, posts| %>
    <div class="row">
      <div class="two columns"><h4><%= year %></h4></div>
      <div class="ten columns">
        
        <% posts.each_slice(3) do |posts_in_slice| %>
          <div class="row">
            <% posts_in_slice.each do |post| %>
              <div class="four columns">
                <div class="panel">
                  <p><%= post.name %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        
      </div>
    </div>
  <% end %>
  
</div>