<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="nine columns">
        <h3>Making your unicorns go</h3>
        <p>Get setup with zero downtime deployments</p>
      </div>
      <div class="three columns" style="text-align:right">
        <div style="margin-top:11px;">
          <h5>2012</h5>
          <h4>6/17</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="nine columns">
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
      
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      
      <pre><code>
        class Animal
            def speak
              "hello"
            end
          end

          class Dog < Animal
            def bark
              "woof"
            end
          end
      </code></pre>
    </div>
    <div class="three columns">
      <h4>Tagged</h4>
      <p><a href="#">Ruby</a>, <a href="#">Rails</a></p>
      
      <h4>Resources</h4>
      <p>Here's some cool stuff to check out.</p>
    </div>
  </div>
</div>