defaults: &defaults
  consumer_key: l665Xsg23eVodk8scxJA
  consumer_secret: TZAras2b29UqZwyc0W6kverRCkiEOlkBZCKq87sA7BE

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults