<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <%= link_to admin_posts_path do %>
        &larr; Back to Posts
        <% end %>
        <h3>Edit Post</h3>
      </div>
    </div>
  </div>
</div>

<%= render "form" %>