<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Publish a Post</h3>
      </div>
    </div>
  </div>
</div>

<%= render "form" %>