<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Admin Area</h3>
        <p>Write blog posts n' stuff</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="three columns">
      <%= render "admin/sub_nav" %>
    </div>
    <div class="nine columns">
      <table style="width:100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Publish At</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.name, edit_admin_post_path(post) %></td>
            <td><%= post.user.try(:name) %></td>
            <td><%= post.publish_at.strftime("%B %d, %Y at %I:%M %Z") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>