@import "bourbon";
@import "foundation";
@import "github";


.navigation-bar {
  $height:50px;
  h1 {line-height:$height; font-size:28px; margin:0; padding:0;}
  h1 a {color:#333;}
  .admin-actions { line-height:$height; text-align:right;}
}

/* Section::Globals */
ul li, p {font-size:14px; color:#666;}
.hero-unit {
  background:#f8f8f8;
  border-top:1px solid #e8e8e8;
  border-bottom:1px solid #e8e8e8;
  padding:15px 0;
  margin-bottom:10px;
  h2 {color:#333; font-size:24px;}
  p {font-size:14px; color:#333; font-weight:400;}
}

/* Section::Home */
.posts {
  h4 {margin:0; padding:0;}
  h4 a {color:#333;}
  .published-at {color:#777;}
}

/* Section::Archives */
.archive .panel {height:100px;}

/* Section::Admin */
.input-text.full {width:100%;}
#editor {
  position:relative;
  width:100%;
  height:400px;
  margin-bottom:10px;
  font-size:14px;
}