<div class="container">
  <div class="row">
    <div class="nine columns">
      <h1><%= link_to "deployFX", root_path %></h1>
    </div>
    
    <div class="three columns">
      <% if admin_signed_in? %>
      <div style="margin-top:16px; text-align:right">
        <%= link_to "Write a Post", new_admin_post_path,
          class:"nice medium blue button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>